{% extends 'layouts/base.html' %}

{% load crispy_forms_tags %}

{% block title %}Redefinição de Senha{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="card auth-card rounded shadow">
            <div class="card-body">
                <h4 class="card-title text-center">Redefinição de Senha</h4>
        
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ next }}">
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-block mt-3">Confirmar</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}