{% extends 'layouts/base.html' %}

{% load crispy_forms_tags %}

{% block title %}Alterar senha{% endblock %}

{% block content %}
<div class="content-register d-flex justify-content-center">
    <div class="card card-register rounded shadow">
        <div class="row">
            <div class="col">
                <div class="custom-title">
                    <h2>Alterar senha</h2>
                    <span class="section-separator"></span>
                </div>
                <div class="campo-req">
                    <p>Campos marcados com (<span>*</span>) são obrigatórios.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ next }}">

                    {{ form|crispy }}

                    <button type="submit" class="btn btn-block mt-3">Alterar</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}