{% extends 'layouts/base.html' %}

{% load crispy_forms_tags %}

{% block title %}Recuperar{% endblock %}

{% block content %}
<div class="content-register d-flex justify-content-center">
    <div class="card card-register rounded shadow">
        <div class="row">
            <div class="col">
                <div class="custom-title">
                    <h2>Recuperar senha</h2>
                    <span class="section-separator"></span>
                    <p class="text-justify">Esqueceu sua senha? Forneça seu endereço de email abaixo, e nos te enviaremos um email com instruções para configurar uma nova.</p>
                </div>
                <div class="campo-req">
                    <p>Campos marcados com (<span>*</span>) são obrigatórios.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4">
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ next }}">

                    {{ form|crispy }}

                    <button type="submit" class="btn mt-3">Enviar</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}