{% extends 'layouts/base.html' %}

{% block title %}Sobre{% endblock %}

{% block content %}
<main>
    <div class="about">
        <div class="title">
            <h1>Profissional A.M.L (Autônomo, Microempreendedor, Liberal)</h1>
        </div>
        <div class="desc">
            <p>Tem como objetivo principal facilitar a divulgação dos serviços oferecidos por profissionais com intuito de aumentar o alcance  dos serviços prestados.</p>
        </div>
    </div>
    <div class="row about-content justify-content-center">
        <div class="card">
            <div class="card_img"> <i class="fas fa-users"></i> </div>
            <div class="card_title">Usuários: {{qtd_user}}</div>
            <div class="card_body">
                <p>Para todos os tipos profissionais..</p>
            </div>
        </div>
        <div class="card">
            <div class="card_img"> <i class="fas fa-cogs"></i> </div>
            <div class="card_title">Seviços: {{qtd_servicos}}</div>
            <div class="card_body">
                <p>Você poderá oferecer seus serviços</p>
            </div>
        </div>
        <div class="card">
            <div class="card_img"> <i class="fas fa-plus"></i> </div>
            <div class="card_title">Adicionar</div>
            <div class="card_body">
                <p>Adicione vários tipos de servicos de forma fácil.</p>
            </div>
        </div>
    </div>
</main>
{% endblock %}