{% load static %}
<!doctype html>
<html lang="pt-br">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
	<!-- Fontes google -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet"> 
    

	<!-- Icones font-awsome -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css"> 

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
	
	<!-- CSS da aplicação -->
	<link rel="stylesheet" href="{% static 'css/styles.css' %}">  
	<title>{% block title %}{% endblock %}</title>
</head>
	<body id=top>
		<header>
			<div class="container-fluid">
				<nav class="navbar navbar-expand-lg navbar-light bg-dark fixed-top">
					<a href="{% url 'home' %}" id=logo>
                        <img src="{% static 'images/layouts/logo.png' %}" alt="logo-AMT">
                    </a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarNav">
						<ul class="navbar-nav ml-auto">
							<li class="nav-item">
							    <a class="nav-link" href="{% url 'home' %}"><i class="fas fa-home"></i>Home</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{% url 'about' %}"><i class="fas fa-info-circle"></i></i>Sobre</a>
							</li>
                            {% if user.is_authenticated %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'dashboard' %}"><i class="fas fa-cogs"></i>Meus serviços</a>
                                </li>
                                <li class="nav-item dropdown nav-user">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-user"></i>{{user}}
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                      <a class="dropdown-item" href="{% url 'my_account' %}">Minha conta</a>
                                      <div class="dropdown-divider"></div>
                                      <a class="dropdown-item" href="{% url 'logout' %}">Sair<i class="fas fa-sign-in-alt exit"></i></a>
                                    </div>
                                </li>
                            {% else %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'login' %}"><i class="fas fa-sign-in-alt"></i>Entrar</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'register' %}"><i class="fas fa-user-plus"></i>Registrar</a>
                                </li>

                                <li>
                                    <a class="nav-link btn-navbar btn" href="{% url 'add-servico' %}" >Add serviço<i class="fas fa-plus"></i></a>
                                </li>
                            {% endif %}
							
						</ul>
					</div>
				</nav>
			</div>
		</header>
        <div class="container-fluid">
            {% block content %} {% endblock %}
            <a id="backtotop" href="#top"><i class="fas fa-chevron-up"></i></a>

            <footer>
                <div class="row align-items-center">
                    <div class="col-sm-12 col-md-4">
                        <a href="/">
                            <p><img src="{% static 'images/layouts/logo.png' %}" alt="logo-AMT"></p>
                        </a>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <p>Copyright &copy; 2021 - Profissional A.M.T</p>
                    </div>

                    <div class="col-sm-12 col-md-4" id="termo">
                        <p><a href="#">Termo de uso</a></p>
                    </div>
                </div>
            </footer>
        </div>
		
		<!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
		<script src="{% static 'js/layouts.js' %}"></script>
        <script src="{% static 'js/form.js' %}"></script>
        <script src="{% static 'js/jquery.mask.min.js' %}"></script>
        <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.5.2/bootbox.min.js" integrity="sha512-RdSPYh1WA6BF0RhpisYJVYkOyTzK4HwofJ3Q7ivt/jkpW6Vc8AurL1R+4AUcvn9IwEKAPm/fk7qFZW3OuiUDeg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    </body>
</html>