{% extends 'layouts/base.html' %}

{% load static %}


{% block title %}Home{% endblock %}

{% block content %}
<div id="demo">
    <div class="row">
        <div class="col">
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-auto text-center rounded">
            <h1>Busque por um serviço:</h1>
            <p>Encontre profissionais de diferenres setores.</p>
        </div>
    </div>
    <div class="seach-content">
        <form method="GET">
            <div class="row align-items-center">
                <div class="col-lg-12 mb-4 mb-xl-0 col-xl-3">
                    <input type="text" name="nome" id="name" class="form-control" placeholder="Nome do serviço?">
                </div>

                <div class="col-lg-12 mb-4 mb-xl-0 col-xl-2">
                    <select id="estado" name="estado" class="form-control">
                        <option value="">Escolha o estado</option>
                        <option value="AC">Acre</option>
                        <option value="AL">Alagoas</option>
                        <option value="AP">Amapá</option>
                        <option value="AM">Amazonas</option>
                        <option value="BA">Bahia</option>
                        <option value="CE">Ceará</option>
                        <option value="DF">Distrito Federal</option>
                        <option value="ES">Espírito Santo</option>
                        <option value="GO">Goiás</option>
                        <option value="MA">Maranhão</option>
                        <option value="MT">Mato Grosso</option>
                        <option value="MS">Mato Grosso do Sul</option>
                        <option value="MG">Minas Gerais</option>
                        <option value="PA">Pará</option>
                        <option value="PB">Paraíba</option>
                        <option value="PR">Paraná</option>
                        <option value="PE">Pernambuco</option>
                        <option value="PI">Piauí</option>
                        <option value="RJ">Rio de Janeiro</option>
                        <option value="RN">Rio Grande do Norte</option>
                        <option value="RS">Rio Grande do Sul</option>
                        <option value="RO">Rondônia</option>
                        <option value="RR">Roraima</option>
                        <option value="SC">Santa Catarina</option>
                        <option value="SP">São Paulo</option>
                        <option value="SE">Sergipe</option>
                        <option value="TO">Tocantins</option>
                    </select>
                </div>

                <div class="col-lg-12 mb-4 mb-xl-0 col-xl-3">
                    <select id="cidade" name="cidade" class="form-control">
                    <option value="{{ request.GET.cidade }}">Cidade, escolha o estado</option>
                    </select>
                </div>
                <div class="col-lg-12 mb-4 mb-xl-0 col-xl-2">
                    <select class="form-control rounded" name="category" id="category">
                        <option value="">Categoria</option>
                        {% for categoria in categorias %}
                            <option value='{{categoria.id}}'>{{categoria.nome}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-lg-12 md-2 col-xl-2 ml-auto">
                    <input class="btn btn-block" type="submit" value="Buscar">
                </div> 
            </div>
        </form>
    </div>
</div>

<div id="servicos">
    <div class="row">
        <div class="col">
            <div class="custom-title">
                <h2>Seviços</h2>
                <span class="section-separator"></span>
            </div>
        </div>
    </div>
    <div class="row">
        {% if existe %}
            {% for servico in servicos %}
                <div class="col-sm-12 col-md-4 col-lg-3">
                    <div class="card shadow">
                        <div class="capa">
                            {% if servico.capa %}
                                <img class="img-fluid" src="{{servico.capa.url}}" alt="{{servico.nome}}">
                            {% else %}
                                <img class="img-fluid"src="{% static 'images/layouts/image_not.png' %}" alt="image_not">
                            {% endif %}
                        </div>
                        <div class="card-body">
                            <i class="fas fa-star"></i>
                            <h4 class="card-title">{{servico.nome}}</h4>
                            <p class="card-text">Categoria: {{servico.categoria}}</p>
                            <a href="{% url 'servico-view' servico.id %}" class="btn">Saiba mais<i class="fas fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            {% empty %}
                <div class="col">
                    <h3>Nada encontrado</h3>
                    <p>Para listar todos clique <a href="{% url 'home' %}">aqui</a></p>
                </div>
            {% endfor %}
        {% else %}
            <div class="col">
                <h3>Não há serviços</h3>
            </div>
        {% endif %}
    </div>
    {% if servicos %}
        <div class="row justify-content-center">
            <div class="pagination">
                <span class="step-links">
                    {% if servicos.has_previous %}
                        <a href="?page={{ sevicos.previous_page_number }}"><i class="fas fa-arrow-left"></i></a>
                    {% endif %}
                    
                    {% if servicos.paginator.num_pages %}
                    <span class="current">
                        {{ servicos.number }} de {{ servicos.paginator.num_pages }}
                    </span>
                    {% endif %}
                
                    {% if servicos.has_next %}
                        <a href="?page={{ servicos.next_page_number }}"><i class="fas fa-arrow-right"></i></a>
                    {% endif %}
                </span>
            </div>
        </div>
    {% endif %}
</div>

<div class="gradient home-info">
    <div class="row">
        <div class="four col-sm-12 col-md-4">
            <div class="counter-box colored">  <i class="fas fa-users"></i> <span class="counter">{{qtd_user}}</span>
                <p>Para todos os tipos profissionais..</p>
            </div>
        </div>
        <div class="four col-sm-12 col-md-4">
            <div class="counter-box"> <i class="fas fa-cogs"></i> <span class="counter">{{qtd_servico}}</span>
                <p>Você poderá oferecer seus serviços</p>
            </div>
        </div>
        <div class="four col-sm-12 col-md-4">
            <div class="counter-box"> <a href="{% url 'add-servico' %}"><i class="fas fa-plus-circle"></i> <span class="counter">{{qtd_servico}}</span></a>
                <p>Adicione vários tipos de servicos.</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}