{% extends 'layouts/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div id="demo">
    <div class="row justify-content-center">
        <div class="col-md-auto text-center rounded">
            <h1>Busque por um serviço:</h1>
            <p>Encontre profissionais de diferenres setores.</p>
        </div>
    </div>
    <div class="seach-content">
        <form method="GET">
            <div class="row align-items-center">
                <div class="col-lg-12 mb-4 mb-xl-0 col-xl-3">
                    <input type="text" name="nome" id="name" class="form-control" placeholder="Nome do serviço?">
                </div>

                <div class="col-lg-12 mb-4 mb-xl-0 col-xl-2">
                    <select id="estado" name="estado" class="form-control">
                        <option value="">Escolha o estado</option>
                        <option value="AC">Acre</option>
                        <option value="AL">Alagoas</option>
                        <option value="AP">Amapá</option>
                        <option value="AM">Amazonas</option>
                        <option value="BA">Bahia</option>
                        <option value="CE">Ceará</option>
                        <option value="DF">Distrito Federal</option>
                        <option value="ES">Espírito Santo</option>
                        <option value="GO">Goiás</option>
                        <option value="MA">Maranhão</option>
                        <option value="MT">Mato Grosso</option>
                        <option value="MS">Mato Grosso do Sul</option>
                        <option value="MG">Minas Gerais</option>
                        <option value="PA">Pará</option>
                        <option value="PB">Paraíba</option>
                        <option value="PR">Paraná</option>
                        <option value="PE">Pernambuco</option>
                        <option value="PI">Piauí</option>
                        <option value="RJ">Rio de Janeiro</option>
                        <option value="RN">Rio Grande do Norte</option>
                        <option value="RS">Rio Grande do Sul</option>
                        <option value="RO">Rondônia</option>
                        <option value="RR">Roraima</option>
                        <option value="SC">Santa Catarina</option>
                        <option value="SP">São Paulo</option>
                        <option value="SE">Sergipe</option>
                        <option value="TO">Tocantins</option>
                    </select>
                </div>

                <div class="col-lg-12 mb-4 mb-xl-0 col-xl-3">
                    <select id="cidade" name="cidade" class="form-control">
                    <option value="{{ request.GET.cidade }}">Cidade, escolha o estado</option>
                    </select>
                </div>
                <div class="col-lg-12 mb-4 mb-xl-0 col-xl-2">
                    <select class="form-control rounded" name="category" id="category">
                        <option value="">Categoria</option>
                        {% for categoria in categorias %}
                            <option value='{{categoria.id}}'>{{categoria.nome}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-lg-12 md-2 col-xl-2 ml-auto">
                    <input class="btn btn-block" type="submit" value="Buscar">
                </div> 
            </div>
        </form>
    </div>
</div>

<div id="servicos">
    <div class="row">
        <div class="col">
            <div class="custom-title">
                <h2>Seviços</h2>
                <span class="section-separator mb-5"></span>
            </div>
        </div>
    </div>
    <div class="row">
        {% if existe %}
            {% for servico in servicos %}
                <div class="col-sm-12 col-md-4 col-lg-3">
                    <div class="card shadow">
                        <div class="capa">
                            <img class="img-fluid" src="{{servico.capa.url}}" alt="{{servico.nome}}">
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">{{servico.nome}}</h4>
                            <p class="card-text">Categoria: {{servico.categoria}}</p>
                            <a href="{% url 'servico-view' servico.id %}" class="btn">Saiba mais<i class="fas fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            {% empty %}
                <div class="col">
                    <div class="info-dasboard">
                        <h3>Nada encontrado</h3>
                        <p>Para listar todos clique <a href="{% url 'home' %}">aqui</a></p>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="col">
                <div class="info-dasboard">
                    <h3>Não há serviços</h3>
                </div>
            </div>
        {% endif %}
    </div>
    {% if servicos %}
        <div class="row justify-content-center">
            <div class="pagination">
                <span class="step-links">
                    {% if servicos.has_previous %}
                        <a href="?page={{ sevicos.previous_page_number }}"><i class="fas fa-arrow-left"></i></a>
                    {% endif %}
                    
                    {% if servicos.paginator.num_pages %}
                    <span class="current">
                        {{ servicos.number }} de {{ servicos.paginator.num_pages }}
                    </span>
                    {% endif %}
                
                    {% if servicos.has_next %}
                        <a href="?page={{ servicos.next_page_number }}"><i class="fas fa-arrow-right"></i></a>
                    {% endif %}
                </span>
            </div>
        </div>
    {% endif %}
</div>

<div id="block-info" class="gradient p-5">
    <div class="row text-dark align-items-center">
        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <div class="block-content rounded-top">
                <i class="fas fa-cogs"></i><span>Quantidade de Serviços: {{ qtd_servico }}</span> 
            </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
            <div class="block-content">
                <i class="fas fa-users"></i> <span>Quantidade de usuarios: {{ qtd_user }}</span> 
            </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <div class="block-content rounded-bottom">
                <a href="{% url 'add-servico' %}">
                    <i class="fas fa-plus"></i><span>Adicionar Serviço</span>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}