/* ----------------------- Geral ------------------------*/

body {
    font-family: 'Quicksand', sans-serif;
    /* background-color: #dfdfdf; */
}

.row {
    margin: 0px;
}

.container-fluid {
    padding: 0px;
}

/* Btn  */

.btn {
    background: #4DB7FE;
    color: #fff;
    font-weight: 700;
    border-radius: 5px;

}

.btn:hover{
    box-shadow: none;
    color: #fff;
    /* border: solid 3px #B2B2B2; */

}
/* color */
.gradient {
    color: #FFFFFF;
    background: linear-gradient(to bottom right, #0E74A5, #52ad9c);
}


a {
    color: rgba(0, 0, 0, 0.695);
}

a:hover {
    color: #4DB7FE;
    text-decoration: none;
}

/*---------------------- tripografia ---------------------- */

.custom-title h2 {
    color: #566985;
    font-weight: 700;
    font-size: 34px;
}

.section-separator {
    float: left;
    width: 100%;
    position: relative;
    margin: 0;

}

.section-separator:before {
    content: '';
    position: absolute;
    top: 0;
    height: 4px;
    width: 50px;
    border-radius: 3px;
    background: #4db7fe;
}
/* ------------------------- navbar ---------------------- */

.navbar {
    background: #2F3B59 !important;
}

.btn-navbar{
    width: 150px;
    margin: 0px 50px 0px 50px;
}

/* navbar icon */

#navbarNav ul li a i{
    margin-right: 5px;
} 

#navbarNav ul li .fa-plus {
    margin-left: 5px;
    
}
#exit {
    margin-right: 0px;
}

#logo {
    margin-left: 50px;
    
}

#logo img {
    max-width: 200px;
}


.nav-item {
    margin-left: 20px;
}

.nav-link {
    font-size: 13px;
    color: #fff !important;
    font-weight: 800;
    
}
.nav-link:hover {
    color: #fff !important;
}

@media screen and (max-width:750px){

    .btn-navbar{
        width: 120px;
        margin: 5px 10px 0px 10px;
    }


    #logo {
        margin-left: 20px;
        
    }

    #logo img {
        max-width: 180px
    }
    

}

/* ---------------------------- Home demo -------------------*/

#demo {
    width: 100%;
    height: 100vh;
    background: url("../images/layouts/hero-bg.jpg") center center;
    background-size: cover;
    position: relative;
   
}

#demo {
    padding-top: 14em;
}


#demo h1 {
    font-size: 4rem;
    font-weight: 700;
    color: #fff;


}

#demo p {
    color: #fff;
    font-size: 25px;
    margin-top: 20px;
    font-weight: 500;
}

#demo .seach-content {
    padding: 20px;
    margin: 0px 50px;
    background: rgba(196, 196, 196, 0.45);
    border-radius: 5px;

}

@media screen and (max-width:750px){
   
    #demo h1 {
        font-size: 35px;
    
    }
    
    #demo p {
        font-size: 18px;
        margin-top: 10px;
        font-weight: 900;
    }

    
}

/* ----------------------------- Home-cards -------------- */


#servicos .card, .capa, img {
    border-radius: 8px 8px 0px 0px;
}

#servicos .card a {
    float: right;
    font-size: 13px;
    
}

#servicos .card a i{
    font-size: 10px;
    margin-left: 5px;
}


/* ---------------------info-block -----------=--------------------- */

#block-info span {
    font-weight: 800;
}

#block-info .block-content{
    background: #fff;
    padding-top: 35px;
    height: 100px;
    border-radius: 5px;

}


#block-info div span {
    position: absolute;
    left: 115px;
}

#block-info .fas {
    background: #fff;
}

#block-info .block-content i{
    color: #4FB5F5;
    position: absolute;
    top: 20px;
    width: 60px;
    left: 35px;
    height: 60px;
    line-height: 58px;
    font-size: 22px;
    text-align: center;
    border: 1px solid  rgba(0,0,0,.1);
    border-radius: 50%;

}   

@media (max-width: 768px){
    #block-info .block-content {
        border-radius: 0px;
        font-size: 14px;
    }
}

/* ------------------------------ formulario ------------------- */
.form-control:focus {
    border-color: #4DB7FE;;
    box-shadow: none;
   
}



/*---------------- Back to Top ----------------------*/

#backtotop{
    color:#FFFFFF; 
    background-color: #4DB7FE;
}

#backtotop {
    z-index:999; 
    display:inline-block; 
    position:fixed; 
    visibility:hidden; 
    bottom:20px; 
    right:20px; 
    width:36px; 
    height:36px; 
    line-height:36px; 
    font-size:16px; 
    text-align:center; 
    opacity:.2;
}

#backtotop i{
    display:block; 
    width:100%; 
    height:100%; 
    line-height:inherit;
}
#backtotop.visible{
    visibility:visible; 
    opacity:.5;
}

#backtotop:hover{
    opacity:1;
} 

/* ---------------------------- carrousel servico View --------------------- */

.carousel-inner img {
    width: 100%;
    height: 100%
}

#custCarousel .carousel-indicators {
    position: static;
    margin: 10px
}

#custCarousel .carousel-indicators>li {
    width: 100px
}

#custCarousel .carousel-indicators li img {
    display: block;
    opacity: 0.5
}

#custCarousel .carousel-indicators li.active img {
    opacity: 1
}

#custCarousel .carousel-indicators li:hover img {
    opacity: 0.75
}

.carousel-item img {
    width: 100%
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 50px;
    width: 50px;
    outline: black;
    background-size: 100%, 100%;
    border-radius: 50%;
    border: 1px solid  rgba(0,0,0,.1);
    background-image: none;
    background: #fff;
}

.carousel-control-next-icon:after{
    content: '>';
    font-size: 30px;
    font-weight: bold;
    color: #4DB7FE;
}

.carousel-control-prev-icon:after {
    content: '<';
    font-size: 30px;
    font-weight: bold;
    color: #4DB7FE;
}


/*  ------------------ detalhes serviços -------------- */
.custom-title p span {
    font-size: 14px;
    color: #aaa;
    font-weight: 400;
    letter-spacing: 0.25px;
    margin-left: 5px;   
}
.content-descricao {
    margin-top: 5rem;
}
.content-descricao h4 {
    font-weight: 700;
}
 .content-descricao p {
     text-align: justify;
 }

 /* --------------------- area comments ---------------- */
 .sidebar-heading h4 {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.5px;
    color: #20232e;
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
    margin-bottom: 25px;
}

.content-comments {
    margin-top: 30px;
}

.content-comments ul li {
    display: inline-block;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}

.content-comments ul li.replied {
    padding-left: 50px;
}

.content-comments ul li:last-child {
    margin-bottom: 0px;
    padding-bottom: 0px;
    border-bottom: none;
}

.content-comments ul li .right-content {
    margin-left: 50px;
}

.content-comments ul li .right-content h4 {
    color: #20232e;
    font-size: 19px;
    font-weight: 900;
    letter-spacing: 0.5px;
}

.content-comments ul li .right-content h4 span {
    font-size: 14px;
    color: #aaa;
    font-weight: 400;
    letter-spacing: 0.25px;
    margin-left: 20px;
}

/* -------------------------- login/register ------------------------------- */

.auth-card {
    margin: 10rem 0px 10rem 0px;
}

.auth-card h4 {
    color: #566985;
    font-weight: 900;
    margin-bottom: 10px;
}

.change-form-p {
    margin-top: 10px;
}
.change-form-p a {
    color: #1E90FF;
    font-weight: 500;
}

/*--------------------------- ADD-SERVICO --------------------------*/

.add-servico {
    margin-top: 40px;
}

.add-servico .error {
    color: red;
}

/* ------------------------ dashboard ----------------------------- */

.dashboard {
    margin-top: 50px;
}

.dashboard .fas.fa-search {
    position: absolute;
    top: 12px;
    right: 26px;
    cursor: pointer;
}

.dashboard .search-div {
    margin-top: 24px;
    margin-bottom: 15px;
    display: inline-block;
}

.dashboard li {
    list-style-type: none;  
}

/* -------------------------- about-------------------------------- */

.about {
    text-align: center;
    color: gray;
    padding: 40px
}
.about .title {
    margin-top: 60px;
    margin-bottom: 20px;
}

.about .title h1{
    color: #566985;
    font-weight: 900;
    font-size: 40px;
}

.about .desc {
    margin-bottom: 15px;
    margin-top: 40px;
    width: 70%;
    margin: 0 auto
}
.about .desc p {
    font-size: 1.1em;
    color: #282228;
    font-weight: 500;
    line-height: 1.45em;
   
}

@media (max-width: 630px) {
    .title h1 {
        font-size: 18px
    }
}
.about-content {
    margin-bottom: 8em;
}
.about-content .card {
    display: flex;
    text-align: center;
    justify-content: center; 
    flex-direction: column;
    align-items: center; 
    margin: 10px;
    width: 350px;
    padding: 14px 10px 12px 10px;
    border-radius: 5px; 
}

.card_img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0 9px 30px -6px rgba(15, 136, 206, 0.342);
    position: relative;
    transition: transform .4s
}

.about-content .fas, .fab {
    display: inline-block;
    position: absolute;
    color: #4FB5F5;
    transform: translate(-52%, 75%);
    font-size: 40px
}

.card_title {
    font-size: 20px;
    margin: 12px;
    font-weight: bold;
    color: #000000a8;
    transition: color .2s
}

.card:hover .card_title {
    color: #4FB5F5;
}

.card:hover .card_img {
    transform: translate(0px, -10px)
}

.card_body p{
    font-size: 1.1em;
    color: #282228;
    font-weight: 500;
    line-height: 1.45em;
}

/* ---------------------------- footer ---------------------------- */

footer {
    background: #2F3B59;
 
}

footer img {
    text-align: center;
    max-width: 140px;
    
}

footer p {
    margin-top: 20px;
    text-align: center;
    color: rgba(255, 255, 255, 0.61);
    font-size: 14px;
    font-weight: 500;
}

footer #termo a {
    color: #FFFFFF;
}

footer #termo a:hover {
    color: #4DB7FE;
}


 /* @media (max-width: 575.98px){
    footer img {
        text-align: center;
    }
    footer #termo a {
         color: red;
        text-align: center; 
    }
} */