{% extends 'layouts/base.html' %}

{% block title %}Minha conta{% endblock %}

{% block content %}
<div class="my-account">
    div class="row">
        <div class="col">
            <div class="custom-title">
                <h2>Meus serviços</h2>
                <span class="section-separator"></span>
                <div class="account-hello">
                    <p>Bem vindo à sua conta. Aqui você pode gerenciar todas as suas informações.</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

